<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/orss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/orss"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scrollbarcardview"
        tools:targetApi="31">
        <activity
            android:name=".pechera"
            android:exported="false" />
        <activity
            android:name=".otd"
            android:exported="false" />
        <activity
            android:name=".f8263cc"
            android:exported="false" />
        <activity
            android:name=".egv076ol"
            android:exported="false" />
        <activity
            android:name=".apc"
            android:exported="false" />
        <activity
            android:name=".m6200"
            android:exported="false" />
        <activity
            android:name=".rm8511"
            android:exported="false" />
        <activity
            android:name=".mf2097"
            android:exported="false" />
        <activity
            android:name=".mf5n11"
            android:exported="false" />
        <activity
            android:name=".apta"
            android:exported="false" />
        <activity
            android:name=".egm450"
            android:exported="false" />
        <activity
            android:name=".egem454hv"
            android:exported="false" />
        <activity
            android:name=".egm453"
            android:exported="false" />
        <activity
            android:name=".eger553"
            android:exported="false" />
        <activity
            android:name=".eger551"
            android:exported="false" />
        <activity
            android:name=".garc"
            android:exported="false" />
        <activity
            android:name=".ggee48305"
            android:exported="false" />
        <activity
            android:name=".plastico"
            android:exported="false" />
        <activity
            android:name=".gg27805"
            android:exported="false" />
        <activity
            android:name=".egg244lc"
            android:exported="false" />
        <activity
            android:name=".egg226"
            android:exported="false" />
        <activity
            android:name=".egg2017"
            android:exported="false" />
        <activity
            android:name=".egg2016"
            android:exported="false" />
        <activity
            android:name=".egg215"
            android:exported="false" />
        <activity
            android:name=".egg207"
            android:exported="false" />
        <activity
            android:name=".egg206"
            android:exported="false" />
        <activity
            android:name=".egg201"
            android:exported="false" />
        <activity
            android:name=".misto18"
            android:exported="false" />
        <activity
            android:name=".t14308"
            android:exported="false" />
        <activity
            android:name=".msacopper"
            android:exported="false" />
        <activity
            android:name=".g27805"
            android:exported="false" />
        <activity
            android:name=".mist6500050"
            android:exported="false" />
        <activity
            android:name=".ge203saf"
            android:exported="false" />
        <activity
            android:name=".egg217"
            android:exported="false" />
        <activity
            android:name=".ge111"
            android:exported="false" />
        <activity
            android:name=".ge109"
            android:exported="false" />
        <activity
            android:name=".ge105"
            android:exported="false" />
        <activity
            android:name=".ge104caf"
            android:exported="false" />
        <activity
            android:name=".ge103c"
            android:exported="false" />
        <activity
            android:name=".ge101imaf"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewcorporal"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewrodilleras"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewpr"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewaudifonos"
            android:exported="false" />
        <activity
            android:name=".drawviewseg"
            android:exported="false" />
        <activity
            android:name=".menu_inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scrollbarcardviewguantes"
            android:exported="false" /> <!-- Agrega la declaración de la actividad scrollbarcardviewlentes -->
        <activity
            android:name=".scrollbarcardviewlentes"
            android:exported="false" />
    </application>

</manifest>