<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/orss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/orss"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scrollbarcardview"
        tools:targetApi="31">
        <activity
            android:name=".ta"
            android:exported="false" />
        <activity
            android:name=".th"
            android:exported="false" />
        <activity
            android:name=".pija"
            android:exported="false" />
        <activity
            android:name=".tornillo"
            android:exported="false" />
        <activity
            android:name=".barra"
            android:exported="false" />
        <activity
            android:name=".tuerca"
            android:exported="false" />
        <activity
            android:name=".remache"
            android:exported="false" />
        <activity
            android:name=".perno"
            android:exported="false" />
        <activity
            android:name=".arandelator"
            android:exported="false" />
        <activity
            android:name=".tornilleria"
            android:exported="false" />
        <activity
            android:name=".arandela"
            android:exported="false" />
        <activity
            android:name=".soporteMotor"
            android:exported="false" />
        <activity
            android:name=".buje"
            android:exported="false" />
        <activity
            android:name=".pernos"
            android:exported="false" />
        <activity
            android:name=".transporte"
            android:exported="false" />
        <activity
            android:name=".gop3028"
            android:exported="false" />
        <activity
            android:name=".gsa120"
            android:exported="false" />
        <activity
            android:name=".ghg2063"
            android:exported="false" />
        <activity
            android:name=".ghg180"
            android:exported="false" />
        <activity
            android:name=".gss140"
            android:exported="false" />
        <activity
            android:name=".gss1401a"
            android:exported="false" />
        <activity
            android:name=".gex40150"
            android:exported="false" />
        <activity
            android:name=".gex1251ae"
            android:exported="false" />
        <activity
            android:name=".gss23ae"
            android:exported="false" />
        <activity
            android:name=".gho2682d"
            android:exported="false" />
        <activity
            android:name=".gst150bce"
            android:exported="false" />
        <activity
            android:name=".gst90be"
            android:exported="false" />
        <activity
            android:name=".gst75e"
            android:exported="false" />
        <activity
            android:name=".gst750"
            android:exported="false" />
        <activity
            android:name=".gst680"
            android:exported="false" />
        <activity
            android:name=".gff1600"
            android:exported="false" />
        <activity
            android:name=".evs1617"
            android:exported="false" />
        <activity
            android:name=".gof1600ce"
            android:exported="false" />
        <activity
            android:name=".gof130"
            android:exported="false" />
        <activity
            android:name=".gkf550"
            android:exported="false" />
        <activity
            android:name=".fsn1400"
            android:exported="false" />
        <activity
            android:name=".gks235"
            android:exported="false" />
        <activity
            android:name=".gks2065"
            android:exported="false" />
        <activity
            android:name=".gks150"
            android:exported="false" />
        <activity
            android:name=".gks130"
            android:exported="false" />
        <activity
            android:name=".gli12v330"
            android:exported="false" />
        <activity
            android:name=".gli12v300"
            android:exported="false" />
        <activity
            android:name=".gas12vli"
            android:exported="false" />
        <activity
            android:name=".gho12v20"
            android:exported="false" />
        <activity
            android:name=".propruner"
            android:exported="false" />
        <activity
            android:name=".gus12v300"
            android:exported="false" />
        <activity
            android:name=".gsa12vli"
            android:exported="false" />
        <activity
            android:name=".gst12v70"
            android:exported="false" />
        <activity
            android:name=".gks12v26"
            android:exported="false" />
        <activity
            android:name=".gex12v125"
            android:exported="false" />
        <activity
            android:name=".gws12v76"
            android:exported="false" />
        <activity
            android:name=".gbh18v45c"
            android:exported="false" />
        <activity
            android:name=".gbh18v40c"
            android:exported="false" />
        <activity
            android:name=".gbh18v36c"
            android:exported="false" />
        <activity
            android:name=".gbh18v26d"
            android:exported="false" />
        <activity
            android:name=".gbh187li"
            android:exported="false" />
        <activity
            android:name=".gbh185li"
            android:exported="false" />
        <activity
            android:name=".gbh180l"
            android:exported="false" />
        <activity
            android:name=".gba12v40ah"
            android:exported="false" />
        <activity
            android:name=".gba12v20ah"
            android:exported="false" />
        <activity
            android:name=".procore18v120ah"
            android:exported="false" />
        <activity
            android:name=".procore18v80ah"
            android:exported="false" />
        <activity
            android:name=".procore18v40ah"
            android:exported="false" />
        <activity
            android:name=".gba18v50ah"
            android:exported="false" />
        <activity
            android:name=".gba18v40ah"
            android:exported="false" />
        <activity
            android:name=".gba18v10ah"
            android:exported="false" />
        <activity
            android:name=".gal12v20"
            android:exported="false" />
        <activity
            android:name=".gal12v40"
            android:exported="false" />
        <activity
            android:name=".gal18v40"
            android:exported="false" />
        <activity
            android:name=".gal18v20"
            android:exported="false" />
        <activity
            android:name=".gal1880cv"
            android:exported="false" />
        <activity
            android:name=".ggs28lce"
            android:exported="false" />
        <activity
            android:name=".ggs28ce"
            android:exported="false" />
        <activity
            android:name=".ggs28l"
            android:exported="false" />
        <activity
            android:name=".ggs28"
            android:exported="false" />
        <activity
            android:name=".gpo12ce"
            android:exported="false" />
        <activity
            android:name=".gts254"
            android:exported="false" />
        <activity
            android:name=".gcm12gdl"
            android:exported="false" />
        <activity
            android:name=".gcm254"
            android:exported="false" />
        <activity
            android:name=".bsglm40"
            android:exported="false" />
        <activity
            android:name=".bsglm20"
            android:exported="false" />
        <activity
            android:name=".bsglm15027c"
            android:exported="false" />
        <activity
            android:name=".bsgll380cg"
            android:exported="false" />
        <activity
            android:name=".dsdf60"
            android:exported="false" />
        <activity
            android:name=".disco694"
            android:exported="false" />
        <activity
            android:name=".disco650"
            android:exported="false" />
        <activity
            android:name=".disco599"
            android:exported="false" />
        <activity
            android:name=".disco598"
            android:exported="false" />
        <activity
            android:name=".bsdf40"
            android:exported="false" />
        <activity
            android:name=".bsdcl"
            android:exported="false" />
        <activity
            android:name=".bsdcd"
            android:exported="false" />
        <activity
            android:name=".bsdc412"
            android:exported="false" />
        <activity
            android:name=".gws18v10psc"
            android:exported="false" />
        <activity
            android:name=".gws18v10pc"
            android:exported="false" />
        <activity
            android:name=".gws18v10p"
            android:exported="false" />
        <activity
            android:name=".gws18v10"
            android:exported="false" />
        <activity
            android:name=".gws180li"
            android:exported="false" />
        <activity
            android:name=".gdr12v110"
            android:exported="false" />
        <activity
            android:name=".gdr120li"
            android:exported="false" />
        <activity
            android:name=".gds18v1000"
            android:exported="false" />
        <activity
            android:name=".gds18v400"
            android:exported="false" />
        <activity
            android:name=".gsx18v200"
            android:exported="false" />
        <activity
            android:name=".gdx180li"
            android:exported="false" />
        <activity
            android:name=".gsb12v30"
            android:exported="false" />
        <activity
            android:name=".gsb120li"
            android:exported="false" />
        <activity
            android:name=".gwb12v10"
            android:exported="false" />
        <activity
            android:name=".gsr120li"
            android:exported="false" />
        <activity
            android:name=".gsb185li"
            android:exported="false" />
        <activity
            android:name=".grs120li"
            android:exported="false" />
        <activity
            android:name=".gsr1000smart"
            android:exported="false" />
        <activity
            android:name=".nuevoboschgo"
            android:exported="false" />
        <activity
            android:name=".gsb18v150c"
            android:exported="false" />
        <activity
            android:name=".gsb18v90c"
            android:exported="false" />
        <activity
            android:name=".gsb18v50"
            android:exported="false" />
        <activity
            android:name=".gtb185li"
            android:exported="false" />
        <activity
            android:name=".gsr18v60pc"
            android:exported="false" />
        <activity
            android:name=".gsr180li"
            android:exported="false" />
        <activity
            android:name=".btsu"
            android:exported="false" />
        <activity
            android:name=".bbpu"
            android:exported="false" />
        <activity
            android:name=".beco"
            android:exported="false" />
        <activity
            android:name=".bheran"
            android:exported="false" />
        <activity
            android:name=".beross"
            android:exported="false" />
        <activity
            android:name=".batigra"
            android:exported="false" />
        <activity
            android:name=".batigol"
            android:exported="false" />
        <activity
            android:name=".batiest"
            android:exported="false" />
        <activity
            android:name=".baquiles"
            android:exported="false" />
        <activity
            android:name=".bapolo"
            android:exported="false" />
        <activity
            android:name=".bcosmo"
            android:exported="false" />
        <activity
            android:name=".bthor"
            android:exported="false" />
        <activity
            android:name=".bth"
            android:exported="false" />
        <activity
            android:name=".bz28h"
            android:exported="false" />
        <activity
            android:name=".bpet"
            android:exported="false" />
        <activity
            android:name=".bhera"
            android:exported="false" />
        <activity
            android:name=".beros"
            android:exported="false" />
        <activity
            android:name=".bcr"
            android:exported="false" />
        <activity
            android:name=".bz28n"
            android:exported="false" />
        <activity
            android:name=".cubrec"
            android:exported="false" />
        <activity
            android:name=".bb703"
            android:exported="false" />
        <activity
            android:name=".bb651"
            android:exported="false" />
        <activity
            android:name=".bb362"
            android:exported="false" />
        <activity
            android:name=".mist6500250"
            android:exported="false" />
        <activity
            android:name=".msalr"
            android:exported="false" />
        <activity
            android:name=".gearnesd"
            android:exported="false" />
        <activity
            android:name=".mangas"
            android:exported="false" />
        <activity
            android:name=".capucha"
            android:exported="false" />
        <activity
            android:name=".munequera"
            android:exported="false" />
        <activity
            android:name=".mna4"
            android:exported="false" />
        <activity
            android:name=".polainas"
            android:exported="false" />
        <activity
            android:name=".appol"
            android:exported="false" />
        <activity
            android:name=".ppol"
            android:exported="false" />
        <activity
            android:name=".pm"
            android:exported="false" />
        <activity
            android:name=".overol"
            android:exported="false" />
        <activity
            android:name=".oref"
            android:exported="false" />
        <activity
            android:name=".ogam"
            android:exported="false" />
        <activity
            android:name=".camisola"
            android:exported="false" />
        <activity
            android:name=".cpol"
            android:exported="false" />
        <activity
            android:name=".cmr"
            android:exported="false" />
        <activity
            android:name=".cm"
            android:exported="false" />
        <activity
            android:name=".mist66005"
            android:exported="false" />
        <activity
            android:name=".chbrig"
            android:exported="false" />
        <activity
            android:name=".mc360921"
            android:exported="false" />
        <activity
            android:name=".apd109"
            android:exported="false" />
        <activity
            android:name=".apd104"
            android:exported="false" />
        <activity
            android:name=".apd102"
            android:exported="false" />
        <activity
            android:name=".mc36006"
            android:exported="false" />
        <activity
            android:name=".m3c6001"
            android:exported="false" />
        <activity
            android:name=".apd1901"
            android:exported="false" />
        <activity
            android:name=".apd793c"
            android:exported="false" />
        <activity
            android:name=".apd793"
            android:exported="false" />
        <activity
            android:name=".mf37093"
            android:exported="false" />
        <activity
            android:name=".apd1906c"
            android:exported="false" />
        <activity
            android:name=".mf32096"
            android:exported="false" />
        <activity
            android:name=".mf32091"
            android:exported="false" />
        <activity
            android:name=".mf32078"
            android:exported="false" />
        <activity
            android:name=".m36893"
            android:exported="false" />
        <activity
            android:name=".m36889"
            android:exported="false" />
        <activity
            android:name=".aprondo"
            android:exported="false" />
        <activity
            android:name=".r3m9010"
            android:exported="false" />
        <activity
            android:name=".r3m8577"
            android:exported="false" />
        <activity
            android:name=".apm10chd"
            android:exported="false" />
        <activity
            android:name=".apm10ch"
            android:exported="false" />
        <activity
            android:name=".m36897"
            android:exported="false" />
        <activity
            android:name=".m36000"
            android:exported="false" />
        <activity
            android:name=".mr3501"
            android:exported="false" />
        <activity
            android:name=".mr37586"
            android:exported="false" />
        <activity
            android:name=".apdp1602"
            android:exported="false" />
        <activity
            android:name=".apdp1601"
            android:exported="false" />
        <activity
            android:name=".m37502"
            android:exported="false" />
        <activity
            android:name=".m36700"
            android:exported="false" />
        <activity
            android:name=".vmsa"
            android:exported="false" />
        <activity
            android:name=".msasolc"
            android:exported="false" />
        <activity
            android:name=".msasolaa"
            android:exported="false" />
        <activity
            android:name=".msarcc"
            android:exported="false" />
        <activity
            android:name=".msabar"
            android:exported="false" />
        <activity
            android:name=".mmsa"
            android:exported="false" />
        <activity
            android:name=".apb"
            android:exported="false" />
        <activity
            android:name=".m36885"
            android:exported="false" />
        <activity
            android:name=".mist6500"
            android:exported="false" />
        <activity
            android:name=".micaa"
            android:exported="false" />
        <activity
            android:name=".cma"
            android:exported="false" />
        <activity
            android:name=".micas"
            android:exported="false" />
        <activity
            android:name=".cama"
            android:exported="false" />
        <activity
            android:name=".ta6"
            android:exported="false" />
        <activity
            android:name=".ta5"
            android:exported="false" />
        <activity
            android:name=".ta4"
            android:exported="false" />
        <activity
            android:name=".ta1"
            android:exported="false" />
        <activity
            android:name=".msaorejera"
            android:exported="false" />
        <activity
            android:name=".gadexrojo"
            android:exported="false" />
        <activity
            android:name=".gadexind"
            android:exported="false" />
        <activity
            android:name=".g92500"
            android:exported="false" />
        <activity
            android:name=".g88394"
            android:exported="false" />
        <activity
            android:name=".g87224"
            android:exported="false" />
        <activity
            android:name=".g58735"
            android:exported="false" />
        <activity
            android:name=".g3175"
            android:exported="false" />
        <activity
            android:name=".g9700810"
            android:exported="false" />
        <activity
            android:name=".g489299"
            android:exported="false" />
        <activity
            android:name=".g48919"
            android:exported="false" />
        <activity
            android:name=".g48500"
            android:exported="false" />
        <activity
            android:name=".g431139"
            android:exported="false" />
        <activity
            android:name=".g276009"
            android:exported="false" />
        <activity
            android:name=".g11840"
            android:exported="false" />
        <activity
            android:name=".g11727"
            android:exported="false" />
        <activity
            android:name=".mist02060"
            android:exported="false" />
        <activity
            android:name=".mist02055"
            android:exported="false" />
        <activity
            android:name=".mist01822"
            android:exported="false" />
        <activity
            android:name=".mist01815"
            android:exported="false" />
        <activity
            android:name=".mist01812"
            android:exported="false" />
        <activity
            android:name=".mist6500309"
            android:exported="false" />
        <activity
            android:name=".mist6500305"
            android:exported="false" />
        <activity
            android:name=".gjh"
            android:exported="false" />
        <activity
            android:name=".gjcar"
            android:exported="false" />
        <activity
            android:name=".gtlt"
            android:exported="false" />
        <activity
            android:name=".gtig"
            android:exported="false" />
        <activity
            android:name=".gtder"
            android:exported="false" />
        <activity
            android:name=".gmustr"
            android:exported="false" />
        <activity
            android:name=".gmust"
            android:exported="false" />
        <activity
            android:name=".geller"
            android:exported="false" />
        <activity
            android:name=".gelececo"
            android:exported="false" />
        <activity
            android:name=".gelec"
            android:exported="false" />
        <activity
            android:name=".gcomb"
            android:exported="false" />
        <activity
            android:name=".gcl"
            android:exported="false" />
        <activity
            android:name=".gccr"
            android:exported="false" />
        <activity
            android:name=".gccd"
            android:exported="false" />
        <activity
            android:name=".w47388"
            android:exported="false" />
        <activity
            android:name=".w47384"
            android:exported="false" />
        <activity
            android:name=".w47383"
            android:exported="false" />
        <activity
            android:name=".w38478"
            android:exported="false" />
        <activity
            android:name=".w25688"
            android:exported="false" />
        <activity
            android:name=".w25685"
            android:exported="false" />
        <activity
            android:name=".w25679"
            android:exported="false" />
        <activity
            android:name=".w25671"
            android:exported="false" />
        <activity
            android:name=".w25659"
            android:exported="false" />
        <activity
            android:name=".w19644"
            android:exported="false" />
        <activity
            android:name=".uvex8500"
            android:exported="false" />
        <activity
            android:name=".mist6500070"
            android:exported="false" />
        <activity
            android:name=".mist6500066"
            android:exported="false" />
        <activity
            android:name=".mist6500052"
            android:exported="false" />
        <activity
            android:name=".mist6500051"
            android:exported="false" />
        <activity
            android:name=".mist650050"
            android:exported="false" />
        <activity
            android:name=".mist6500040"
            android:exported="false" />
        <activity
            android:name=".mist6500018"
            android:exported="false" />
        <activity
            android:name=".lvenusob"
            android:exported="false" />
        <activity
            android:name=".lvenuscl"
            android:exported="false" />
        <activity
            android:name=".jlsol"
            android:exported="false" />
        <activity
            android:name=".guve"
            android:exported="false" />
        <activity
            android:name=".DiscosAbrasivosBosch"
            android:exported="false" />
        <activity
            android:name=".MedidoresLaserBosch"
            android:exported="false" />
        <activity
            android:name=".inversoresActivity"
            android:exported="false" />
        <activity
            android:name=".CaretasActivity"
            android:exported="false" />
        <activity
            android:name=".antorchaActivity"
            android:exported="false" />
        <activity
            android:name=".MenuWestonActivity"
            android:exported="false" />
        <activity
            android:name=".WestonSoldadura"
            android:exported="false" />
        <activity
            android:name=".registerActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".pulidorarectificadora"
            android:exported="false" />
        <activity
            android:name=".herramientasbanco"
            android:exported="false" />
        <activity
            android:name=".herramientasmadera"
            android:exported="false" />
        <activity
            android:name=".cargadores"
            android:exported="false" />
        <activity
            android:name=".baterias"
            android:exported="false" />
        <activity
            android:name=".herramientasdiversas"
            android:exported="false" />
        <activity
            android:name=".martillosperforadores"
            android:exported="false" />
        <activity
            android:name=".amoladoras"
            android:exported="false" />
        <activity
            android:name=".llavesdeimpacto"
            android:exported="false" />
        <activity
            android:name=".atornilladores"
            android:exported="false" />
        <activity
            android:name=".MainActivityBosch"
            android:exported="false" />
        <activity
            android:name=".drawviewind"
            android:exported="false" />
        <activity
            android:name=".carritoActivity"
            android:exported="false" />
        <activity
            android:name=".cuentaActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritoActivity"
            android:exported="false"
            android:label="@string/title_activity_favorito" />
        <activity
            android:name=".pechera"
            android:exported="false" />
        <activity
            android:name=".otd"
            android:exported="false" />
        <activity
            android:name=".f8263cc"
            android:exported="false" />
        <activity
            android:name=".egv076ol"
            android:exported="false" />
        <activity
            android:name=".apc"
            android:exported="false" />
        <activity
            android:name=".m6200"
            android:exported="false" />
        <activity
            android:name=".rm8511"
            android:exported="false" />
        <activity
            android:name=".mf2097"
            android:exported="false" />
        <activity
            android:name=".mf5n11"
            android:exported="false" />
        <activity
            android:name=".apta"
            android:exported="false" />
        <activity
            android:name=".egm450"
            android:exported="false" />
        <activity
            android:name=".egem454hv"
            android:exported="false" />
        <activity
            android:name=".egm453"
            android:exported="false" />
        <activity
            android:name=".eger553"
            android:exported="false" />
        <activity
            android:name=".eger551"
            android:exported="false" />
        <activity
            android:name=".garc"
            android:exported="false" />
        <activity
            android:name=".ggee48305"
            android:exported="false" />
        <activity
            android:name=".plastico"
            android:exported="false" />
        <activity
            android:name=".egg244lc"
            android:exported="false" />
        <activity
            android:name=".egg226"
            android:exported="false" />
        <activity
            android:name=".egg2017"
            android:exported="false" />
        <activity
            android:name=".egg2016"
            android:exported="false" />
        <activity
            android:name=".egg215"
            android:exported="false" />
        <activity
            android:name=".egg207"
            android:exported="false" />
        <activity
            android:name=".egg206"
            android:exported="false" />
        <activity
            android:name=".egg201"
            android:exported="false" />
        <activity
            android:name=".misto18"
            android:exported="false" />
        <activity
            android:name=".t14308"
            android:exported="false" />
        <activity
            android:name=".msacopper"
            android:exported="false" />
        <activity
            android:name=".g27805"
            android:exported="false" />
        <activity
            android:name=".mist6500050"
            android:exported="false" />
        <activity
            android:name=".ge203saf"
            android:exported="false" />
        <activity
            android:name=".egg217"
            android:exported="false" />
        <activity
            android:name=".ge111"
            android:exported="false" />
        <activity
            android:name=".ge109"
            android:exported="false" />
        <activity
            android:name=".ge105"
            android:exported="false" />
        <activity
            android:name=".ge104caf"
            android:exported="false" />
        <activity
            android:name=".ge103c"
            android:exported="false" />
        <activity
            android:name=".ge101imaf"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewcorporal"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewcabeza"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewpr"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewaudifonos"
            android:exported="false" />
        <activity
            android:name=".scrollbarcardviewzapatos"
            android:exported="false" />
        <activity
            android:name=".drawviewseg"
            android:exported="false" />
        <activity
            android:name=".MenuInicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scrollbarcardviewguantes"
            android:exported="false" /> <!-- Agrega la declaración de la actividad scrollbarcardviewlentes -->
        <activity
            android:name=".scrollbarcardviewlentes"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>